@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
.new-element-container {
  position: relative;
  background-color: #a1c6ce;
  padding: 0px 10px 10px;
}
.second-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  clip-path: polygon(0 34%, 100% 19%, 100% 100%, 0% 100%);
  background-color: #ffffff;
  padding: 160px 40px 50px;
}
.new-element-img {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 9;
  max-width: 250px;
}
.second-div p {
  font-family: "Libre Baskerville", serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
  color: #003d68;
  padding: 40px 0px 20px;
  margin: 0;
}
.second-div p br {
  display: none;
}
.second-div a {
  width: 100%;
  background-color: #003d68;
  font-family: "Roboto";
  font-size: 21px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.second-div a:hover {
  opacity: 0.85;
}

@media (max-width: 1000px) {
  .second-div p {
    font-size: 21px;
    line-height: 27px;
  }
  .second-div {
    padding: 160px 10px 40px;
  }
  .new-element-img {
    max-width: 215px;
  }
}
@media (max-width: 749px) {
  #Collection .grid.grid--uniform.grid--view-items {
    display: flex;
    flex-wrap: wrap;
  }
  #Collection .grid.grid--uniform.grid--view-items > div.grid__item {
    order: 4;
  }

  #Collection
    .grid.grid--uniform.grid--view-items
    > div.grid__item:nth-child(1) {
    order: 1;
  }
  #Collection
    .grid.grid--uniform.grid--view-items
    > div.grid__item:nth-child(2) {
    order: 3;
  }
  #Collection
    .grid.grid--uniform.grid--view-items
    > div.grid__item:nth-child(3) {
    order: 2;
  }

  #Collection
    .grid.grid--uniform.grid--view-items
    > div.grid__item.ca_lt_011_signup {
    width: 100%;
  }
  .second-div p {
    font-size: 22px;
    line-height: 30px;
  }
  .second-div p br {
    display: block;
  }
  .second-div {
    padding: 160px 20px 30px;
  }
  .new-element-img {
    max-width: 230px;
  }
}
@media (max-width: 400px) {
  .second-div p {
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0rem;
  }
  .second-div {
    padding: 143px 10px 40px;
  }
}
@media (max-width: 335px) {
  .second-div p {
    font-size: 17px;
    line-height: 22px;
  }
}
